<router-outlet></router-outlet>

<div class="bg-red-500 p-4 flex gap-4 items-center">
    <awc-button size="small">Click me</awc-button>
    <awc-button size="medium">Click me</awc-button>
    <awc-button size="large">Click me</awc-button>
</div>
<awc-badge>Badge</awc-badge>

<awc-input></awc-input>

<awc-icon name="0-square-fill"></awc-icon>

<awc-stepper>
    <awc-stepper-item label="Step 1" completed >
        Step 1
    </awc-stepper-item>
    <awc-stepper-item label="Step 2" completed >
        Step 2
    </awc-stepper-item>
    <awc-stepper-item label="Step 3" completed >
        Step 3
    </awc-stepper-item>
    <awc-stepper-item label="Step 4" active >
        Step 4
    </awc-stepper-item>
    <awc-stepper-item label="Step 5">
        Step 5
    </awc-stepper-item>
    <awc-stepper-item label="Step 6">
        Step 6
    </awc-stepper-item>
</awc-stepper>