<awc-stepper>
  @for (step of steps; track step.label) {
    <awc-stepper-item label="{{ step.label }}"
      [attr.active]="step.active === true ? '' : null"
      [attr.completed]="step.completed === true ? '' : null">
      {{ step.label }}
    </awc-stepper-item>
  } @empty {
    No steps.
  }
</awc-stepper>

<div>
  <form [formGroup]="form" (submit)="submitForm()">
    <awc-input
      formControlName="name"
      name="name"
      label="Nom"
      required
    >
    </awc-input>
    @if (form.controls['name'].touched && form.controls['name'].errors?.['required']) {
      <awc-alert open variant="danger">Name is required.</awc-alert>
    }

    <awc-select
      formControlName="type"
      name="type"
      label="Type"
      clearable=""
      required>
      @for (option of types; track option.value) {
        <awc-option value="{{ option.value }}">{{ option.label }}</awc-option>
      }
    </awc-select>
    <awc-checkbox
      formControlName="important"
      name="important"
      required>
      Check me before submitting
    </awc-checkbox>
    <awc-button type="submit" variant="primary"><awc-icon ></awc-icon>Submit</awc-button>
  </form>
  <awc-menu>
    <awc-menu-item class="link" value="undo">Undo<a href="/" target="_blank">New tab</a></awc-menu-item>
    <awc-menu-item class="link" value="redo">Redo</awc-menu-item>
    <awc-divider></awc-divider>
    <awc-menu-item class="link" value="cut">Cut</awc-menu-item>
    <awc-menu-item class="link" value="copy">Copy</awc-menu-item>
    <awc-menu-item class="link" value="paste">Paste</awc-menu-item>
    <awc-menu-item class="link" value="delete">Delete</awc-menu-item>
  </awc-menu>
</div>
